*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: var(--font-texto);
    color:var(--cor-texto)
}

:root{
    --cor-subtitulos:#854632;
    --cor-tituloPreparacao:#7b284f;
    --cor-cardReceita:#ffffff;
    --cor-tempoPreparacao:#fff5fa;
    --cor-fundoBody: #f3e6d8;
    --cor-texto:#5f574e;
    --cor-tituloPricipal:#302d2c;
    --font-tituloSubtitulo: "Young Serif", serif;
    --font-texto:"Outfit", sans-serif;

}

body{
    background-color: var(--cor-fundoBody);
    width: 100%;
    padding: 200px 0;
}
img{
    width: 100%;
    border-radius: 20px;
   
}
h1{
    font-family:var(--font-tituloSubtitulo);
    color: var(--cor-tituloPricipal);
    margin: 20px 0;
}
h2{
    color: var(--cor-subtitulos);
    font-family:var(--font-tituloSubtitulo);
    margin: 20px 0;
}

h3{
    color:var(--cor-tituloPreparacao)!important;
    font-family: var(--font-texto);
    margin-bottom: 16px ;
}

.valor{
    color: var(--cor-subtitulos);
}

main{
    width: 50%;
   background-color: var(--cor-cardReceita); 
   margin: 0 auto;
   padding: 30px;
   border-radius: 20px;
   
    
 

    
}

.tempoPreparacao{
    background-color: var(--cor-tempoPreparacao);
    border-radius: 5px;
    padding: 10px 20px;
}
li{
    margin-left: 20px;
    margin-bottom: 8px;
}
hr{
    margin: 20px 0;
}
main .cabecalio p{
    margin-bottom: 20px;
}
li::marker{
    color: var(--cor-subtitulos);
    font-weight: bold;
}
.valorNutricao{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
main .nutricao .paragrafo {
    margin-bottom: 20px;
}
.valor{

    font-weight: bold;
}
@media only screen and (max-width:425px){
    main{
        width:100%;
        border-radius: 0;
        padding: 0;
       
        
         }
    body{
        padding: 0;
    }
    img{
        border-radius: 0;
        
        
    }
  .cabecalio, .ingredientes, .instrucao, .nutricao{
    padding: 10px 20px;
    
  }
 .tempoPreparacao{
    margin:  25px;
 }
 .nutricao{
    padding-bottom: 35px;
 }
}